# fullstack. this uri for connect to database
# you need library that support in ssl security
DB_URI=

# data. 
MYSQL_HOST=mysql-shoody-6cc8e60-shoody-3e5f.l.aivencloud.com
MYSQL_PORT=14597
MYSQL_USER=avnadmin
MYSQL_PASSWORD=
MYSQL_DB=meals_db

ANALYZE_HOST=analyze-service
ANALYZE_PORT=8001
ANALYZE_ROUTE=analyze_client_choice

DAL_HOST=db
DAL_PORT=8000
DAL_ROUTE=candidates

CACHE_HOST=http://cache-service
CACHE_PORT=:8002

CACHE_ROUTE_GET=cache_get

CACHE_ROUTE_POST=cache_set
# FS: up to render in secret files
# DATA: stor in your computer not git!! use in volume in docker 
CA_PEM=./ca.pem

# connection from backend to server 
VITE_BACKEND_HOST=localhost
VITE_BACKEND_PORT=3000
VITE_BACKEND_ROUTE=meals


REDIS_HOST=

TTL_CACHE=600