# this is example file for env variables
# connection details for uri for dal-service (shoody work) 
DAL_HOST=db
DAL_PORT=8000

# connection details for uri for analyze service (moshe work)
ANALYZE_HOST=analyze
ANALYZE_PORT=8001

# connection details for uri for DB service (cloud aiven)
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE_NAME=