# this is example file for env variables
# connection details for uri for dal-service (shoody work) 
# example 'http://{DAL_HOST}:{DAL_PORT}/{DAL_ROUTE}'
DAL_HOST=db
DAL_PORT=8000
DAL_ROUTE=candidates

# connection details for uri for analyze service (moshe work)
# example 'http://{ANALYZE_HOST}:{ANALYZE_PORT}/{ANALYZE_ROUTE}'
ANALYZE_HOST=analyze
ANALYZE_PORT=8001
ANALYZE_ROUTE=analyze_client_choice
# connection details for uri for DB service (cloud aiven)
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE_NAME=

# connection from backend to server 
VITE_BACKEND_HOST=localhost
VITE_BACKEND_PORT=3000
VITE_BACKEND_ROUTE=meals